NEXT_PUBLIC_SUPABASE_URL=https://mrjyvjxgigqcpipvcuxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1yanl2anhnaWdxY3BpcHZjdXh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU5MTIwMjQsImV4cCI6MjA4MTQ4ODAyNH0.rAfSy8uWBc197piYtmjuQFVvEy_G0SGJPKu0N4zk1v4
